<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="width: 900px; height: 80px; background-color:rgb(255, 255, 255); margin-left:160px; margin-top:50px;" >
        <div class="flex">
            
        </div>
        <div>
            <table>
                <th>
                    <td>Nama</td>
                    <td>proyek baru</td>
                    <td>Harga</td>
                    <td>Deadline</td>
                    <td>proyek yang dikerjakan</td>
                </th>
            </table>
        </div>
        <h4 style="margin-left:11px;">Proyek :</h4>
        <p>membuat kichen sett 2 x 3 model industrial</p>
        <h4 style="margin-left:11px;"> Pemegang Proyek :</h4>
        <p>Ilzam Asu</p>
        <h4 style="margin-left:11px;">diskripsi :</h4>
        <p>Saya membutuhkan partisipan untuk wawancara penelitian via zoom atau via Gmeet. Dengan ketentuan sebagai berikut</p>

            Syarat responden.
            1. Mahasiwa tingkat akhir atau fresh graduate
            2. Tertarik bekerja di perusahaan berbasis keagamaan
            3. Memiliki KTM (Kartu Tanda Mahasiwa)
            4. Beragama Kristen atau Katolik
        
            Hadiah untuk partisipan berupa saldo digital Rp. 50.000,-
        
            Silahkan klik berikut apabila berminat
        
            https://bit.ly/minat-kerja01/
        
            Dan untuk kawan - kawan yang membantu mencarikan partisipan juga akan mendapatkan hadiah yang menarik.</p>
    
  
   
        <h4 style="margin-left:11px;">Anggaran Preject :</h4>
        <h4 style="margin-left:11px;">Anggaran Preject :</h4>
        <p>1.200.000 -</p>
        <p>1.200.000 -</p>
        <h4 style="margin-left:11px;">Anggaran Preject :</h4>
        <input class="form-control" style="margin-top:-9px; width: 800px; height: 30px; background-color:rgba(236, 236, 236, 0.753);  border-radius:5px; padding: lift 30px;" id="exampleDataList" placeholder="Type to search...">
        <h4 style="margin-left:11px;">Catatan:</h4>
        <input class="form-control" style="margin-top:-9px; width: 1000px; height: 85px; background-color:rgba(240, 234, 234, 0.753); border-radius:5px; padding: lift 30px;" id="exampleDataList" placeholder="Type to search...">
    </div>
    

</body>
</html>