<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Web Profil</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px"> 
  <!--Sidebar/menu-->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
                title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <h4 style="margin-top: 10px; margin-right: 10px;"><b>INDIMENSI</b></h4>  
            <img style="border-radius: 50%; width: 150px; height: 150px; " src="https://ih1.redbubble.net/image.1266365450.5771/ur,pin_large_front,square,600x600.jpg" style="width:45%;" class="w3-round"><br><br>
            <a>Agust D
                <br>
                Kab.Yogyakarta
            </a>
        </div>
        <div class="w3-section w3-bottombar w3-padding-15">
     
        </div>
        <div class="w3-bar-block">
            <a href="about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                    class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
        </div>
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
    </div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 190px">
    <!-- Header -->    
        <header id="about">
            <a href="#"><img src="img/avatar_g2.jpg" style="width:65px;"
                    class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <h1 style="margin-top:10px; margin-left: 20PX;"><b>MY PROFIL</b></h1>
                <h2 style="margin-top:10px;margin-bottom: 10px; margin-left: 20PX;"><b>Agust D</b></h2>
                <div style="float: right;">
                    <img style="border-radius:; width: 190px; height: 190px; " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqv0T5NRVuqb0PfuxD1waEvyy0gTydYrvJwQ&usqp=CAU" style=";" class=""><br><br>  
                </div>
                <div style="width: 80%; height: 200px; background-color: rgb(243, 245, 245);">
                    <div style="float: left; margin-left: 20PX; font-size: 20px;">
                       Desainer Engineer
                       <br style="font-size: 5px;">
                       i'm a desainer specialis furniture
                       <br>
                       Former student of S1 Computer Science (S.Kom) and Master of Information Technology (M.Eng) in Yogyakarta. 
                       Currently serving as ASN and practitioners in the field of Information Technology.
                    </div>
                    
                </div>
            </div>
        </header>
    </div>
    
    

</body>
 
     
</body>
</html>
