
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/home">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        .text-author{
            display: inline-block;
            margin-left: 2rem;
        }
    </style>
</head>
<body>
    <!-- <div class="navbar"> -->
      <div class="justify-content-start navbar-collapse" style="display: inline-block; font-size:12px; margin-left: 40px;">
        <a class="nav-link text text-dark" style="display: inline-block;" aria-current="page" href="#">
        <i class="fa fa-phone" aria-hidden="true"></i>(021)4576 24676</a>
        <i class="bi bi-telephone-fill"></i>
        <a class="nav-link text text-dark" style="display: inline-block;" aria-current="page" href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i>Contact@indimensi.com</a>
    </div>
    <div class="justify-content-end navbar-collapse" style="float:right; font-size:12px; margin-right: 60px;">
        <a class="nav-link text text-dark" style="display: inline-block;" aria-current="page" href="#">
        <i class="fa fa-user" aria-hidden="true"></i>Nama pengguna</a>
        <a class="nav-link text text-dark" style="display: inline-block;" aria-current="page" href="#">
        <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
    </div>
<!-- </div> -->
    <section>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="margin-left: 40px;">
          <a class="navbar-brand" href="#">InDimension</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home">beranda</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="">Minimalis</a></li>
                  <li><a class="dropdown-item" href="">Luxery</a></li>
                  <li><a class="dropdown-item" href="">Industrial</a></li>
                  <li><a class="dropdown-item" href="">Klasik</a></li>
                </ul>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Project
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/buatp">Buat preject</a></li>
                  <li><a class="dropdown-item" href="/carip">Cari project</a></li>
                  <li><a class="dropdown-item" href="/menjadiwor">Menjadi worker</a></li>
                  <li><a class="dropdown-item" href="/projectlama">Project lama</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Jasa
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/buatjasa">Buat jasa</a></li>
                  <li><a class="dropdown-item" href="/carijasa">Cari jasa</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="">Dashboard</a></li>
                  <li><a class="dropdown-item" href="">Project saya</a></li>
                  <li><a class="dropdown-item" href="">Akun saya</a></li>
                  <li><a class="dropdown-item" href="">Point saya</a></li>
                  <li><a class="dropdown-item" href="">Pengaturan</a></li>
                </ul>
              </li>
                  <div class="justify-content-end navbar-collapse" style="float:right; font-size:15px; padding-left: 50px; padding-right: 60px;">
                    <a class="nav-link text text-dark" style="display: inline-block;" aria-current="page" href="/login">
                    <i class="" aria-hidden="true"></i>Login</a>
                    <a class="nav-link text text-primary" style="display: inline-block;" aria-current="page" href="/regis">
                    <i class="" aria-hidden="true"></i>Register</a>
                </div>
            </ul>
          </div>
        </div>
      </nav>
        <br>
        <div class="row g-1" style=" margin-left: 80px; width: 450px;">
            <div class="col-md-4" style="width:100px;">
              <img style="width:60px; border-radius:100px; margin-left:20px; margin-top:10px" src="https://decorathing.com/wp-content/uploads/2017/09/Luxury-Home-Modern-House-Design-3020.jpg" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body p-2 mt-0" style="margin-right: 40px;">
                <h5 class="mb-0 mt-0">Antonio Markus</h5> <span>Senior Desain</span>
                <div class="p-0 mt-1 d-flex justify-content-between rounded text-black-50 stats">
                    <div class="d-flex flex-column"> <span class="projects">Projects</span> <span class="number1">108</span> </div>
                    <div class="d-flex flex-column"> <span class="points">Points</span> <span class="number2">20.23</span> </div>
                    <div class="d-flex flex-column"> <span class="meter">Meter/</span> <span class="number3">24.000</span></div>
                </div>
              </div>
            </div>  
        </div>
        <br>
        <div style="margin-right: 120px;">
          <div class="text-author" style="float:right; font-size:12px">
            <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="/kat">Katalog</a></div>
          </div>
          <div class="text-author" style="float: right; font-size:12px">
            <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="/profil">Profil</a></div>
          </div>
        </div>
        <div style="margin-left: 160px;">
          <div class="text-author" style=" font-size:12px">
            <div class="text-center"><a class="btn btn-primary mt-auto" href="/kat">Percakapan</a></div>
          </div>
          <div class="text-author" style=" font-size:12px">
            <div class="text-center"><a class="btn btn-primary mt-auto" href="/profil">Ambil Jasa</a></div>
          </div>
        </div>

        <section class="py-5">
          
          <div class="row shadow-sm mb-3" style="margin-right: 110px; height: 400px; background-color:rgba(255, 255, 255, 0.2); margin-left:110px; border-radius: 10px; ">
            <div class="col">
              <div  class="">
                <p style="margin-top: 10px; margin-left: 20px; padding-top: 10px; color:#939aa3 ;">Skill :</p>
                <p style="margin-top: 20px; margin-left: 20px;">Desain 3D 2D</p>     
              </div> 
            </div>
            <div class="col">
              <div class="">
                <p style="margin-top: 10px; margin-left: 20px; padding-top: 10px; color:#939aa3 ;">Deskripsi :</p>
                <p style="margin-top: 20px; margin-left: 20px;">Desain 3D 2D</p>     
              </div> 
            </div>
          </div>
                 
        </section>
      <!-- Footer-->
      <footer class="py-5" style="background-color: #53bd84;">
          <div class="container"><p class="m-0 text-center text-white">programmer: ilzamcawil.com </p></div>
      </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
    </section>


</body>
</html>
