<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2 {
            color: #53bd84;
        }
    </style>

</head>
<body>
    <section style="padding-left: 10%;">

        <h2 style="margin-top: 5%;" class="text-uppercase text-center mb-5">Form Register</h2>
      
        <form style="margin-top: 5%;">

            <div class="form-outline mb-4">
                <label class="form-label" >Email</label><br>
                <input type="email"/>
            </div>
            <br>

            <div>
                <label class="form-label" >Katasandi</label><br>
                <input class="search" type="text" required><br>
            </div>
            <br>
            
            <div class="form-outline mb-4">
                <label class="form-label" >Nama</label><br>
                <input type="text"/>
            </div>
            <br>

            <h5>Gender:</h5>
            <div style="padding-left: 1%;">
                <input
                class=""
                type="checkbox"
                name=""
                 id=""
                value=""
                />
                <label class="form-check-label">Laki-laki</label>
            </div>

            <div style="padding-left: 1%;">
                <input
                class=""
                type="checkbox"
                name=""
                id=""
                value=""
                />
                <label class="form-check-label">Perempuan</label>
            </div>
            <br>

            <div>
                <label class="form-label" >Nomor Telp.</label><br>
                <input class="search" type="number" required><br>
            </div>
            <br>

            <div class="form-check d-flex justify-content-center mb-5">
                <label>
                <input type="checkbox"/>
                Setujui persyaratan<a href="#!" class="text-body"><u> layanan</u></a>
            </label>
            </div>
            <br>

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
            </div>
            <p class="text-center text-muted mt-5 mb-0">Sudah punya akun? <a href="#!" class="fw-bold text-body"><u>Masuk</u></a></p>
      
        </form>
      </section>
</body>
</html>