
<html>
<head>
	<title>Bootstrap Part 13 : Membuat Form dengan Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
 
   <div class="container">		
   <h1>Form Deal Order</h1> 
	<form>
		<div class="form-group">
			<label for="nama">Nama Anda:</label>
			<input type="text" class="form-control">
			<label for="nama">Nama Anda:</label>
			<input type="text" class="form-control">
			<label for="nama">Nama Anda:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="alamat">Alamat anda:</label>
			<input type="text" class="form-control" id="alamat">
		</div>		
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
   </div>
 
</body>
</html>